<dx-scroll-view height="30%" width="100%" class="with-footer single-card">
  
    <div class="dx-card content">
      <div class="header">
        <div class="title">Name of the Applicant : </div> <div class="description">{{userName}}</div><br><hr>
        <div class="title">Email : </div> <div class="description">{{email}}</div><br><hr>
        <div class="title">relevant skills : </div> <div class="description">{{relevantSkills}}</div><br><hr>
        <div class="title">research interests : </div> <div class="description">{{researchStatement}}</div><br><hr>
      </div>
  </div>
</dx-scroll-view>
  